* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  background: #F8F8FF;
}

/* Menu */
.bg-menu {
  background: #1c1818;
}

.container-menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.menu a {
  font-size: 1.25em;
  padding: 3px;
  margin: 0 7px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-bottom: #484848;
}

.menu a:hover {
  color: rgba(255, 255, 255, 0.747);
  transition: all 0.3s;
  border-bottom: 1px solid #5553c2;
}

/* Menu Social Midias */
.social {
  display: flex;
  flex-wrap: nowrap;
}

.img-icon {
  padding: 6px;
}

.img-icon a img:hover {
  opacity: 1;
  transition: all 1.5s;
  transform: rotate(360deg);
}

.social img {
  max-width: 33px;
  opacity: 0.9;
}

/* Footer */
footer {
  background: #F8F8FF;
}

.copyright {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid rgba(221, 221, 221, 0.603);
  color: #8a8a8a;
  font-size: 0.8em;
  font-weight: 100;
}

.copyright a {
  text-decoration: none;
  color: #8a8a8a;
}

.copyright a:hover {
  color: #484848;
}

.copyright .copy {
  font-size: 1.50em;
  line-height: 12px;
}

/* Formulário de cadastro de notícia */
.hs {
  max-width: 960px;
  background: #F8F8FF;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto 5px auto;
}
.hs h1 {
  margin: 0 auto;
  padding: 1px 15px;
  font-size: 2em;
  text-align: center;
  color: #5553c2;
}
.hs h2 {
  margin: 0 auto;
  padding: 1px 15px;
  font-size: 1.25em;
  font-weight: 100;
  text-align: center;
  color: #8a8a8a;
}
.container-form-news {
  max-width: 960px;
  margin: 0 auto;
}
.form_news {
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.field {
  padding: 10px;
  color: #8a8a8a;
  margin-top: 10px;
}
.field label {
  color: #5553c2;
}
.field input, textarea {
  padding: 10px;
  background: #F8F8FF;
  border: none;
  border-bottom: solid 1px #5553c2;
  margin-top: 5px;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.10em;
}
.field input {
  width: 100%;
}
.field textarea {
  width: 100%;
  height: 200px;
}.field:hover label  {
  text-decoration: underline;
}
.form_news button {
  background-image: url(../imgs/skate-icon.png);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: -35px;
  width: 50%;
  margin: 0 auto;
  padding: 15px;
  text-transform: uppercase;
  background-color: transparent;
  border: solid 1px #5553c2;
  font-weight: 600;
  font-size: 1.25em;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 3px;
}
.form_news button:hover {
  transition: all 0.1s;
  color: #F8F8FF;
}
.form_news button:hover {
  background-position: 480px;
  transition: all 5s;
  background-color: #5553c2;
}
/* Formulário de cadastro de notícia */

/* Responsive */
@media (max-width: 690px) {

  /* menu */
  .menu-hamburger {
    background: #1c1818;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 3px 0 0 3px;
  }
  #menuJs {
    display: none;
  }
  #menu-burger:checked~#menuJs {
    display: block;
  }
  .burger {
    position: relative;
    display: block;
    background: #5553c2;
    width: 30px;
    height: 2px;
    top: 20px;
    left: 10px;
    transition: .5s ease-in-out;
  }
  .burger:before, .burger:after {
    background: #5553c2;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
  }
  .burger:before {
    top: -10px;
  }
  .burger:after {
    bottom: -10px;
  }
  #menu-burger:checked~label .burger {
    transform: rotate(45deg);
  }
  #menu-burger:checked~label .burger:before {
    transform: rotate(90deg);
    top: 0;
  }
  #menu-burger:checked~label .burger:after {
    transform: rotate(90deg);
    bottom: 0;
  }
  .menu ul {
    flex-direction: column;
  }
  .menu li {
    padding: 2px;
    margin: 3px 0;
  }

  /* Menu Social Midias */
  .social img {
    max-width: 28px;
    opacity: 1;
  }

  /* Section de Posts */
  .posts li {
    margin-bottom: 70px;
  }

  /* Formulario de cadastro de notícia */
  .hs h1 {
    font-size: 1.25em;
  }
  .hs h2 {
    margin-top: 5px;
    font-size: 1em;
  }
  .form_news button {
    background-image: none;
  }
  .form_news button:hover {
    transition: all 0.1s;
    color: #F8F8FF;
  }
  .form_news button:hover {
    transition: all 1s;
  }
  /* Formulario de cadastro de notícia */

  /* Footer */
  .copyright {
    border-top: none;
    margin-top: 0;
  }
  footer .borda {
    width: 240px;
    border-top: 1px solid rgba(221, 221, 221, 0.603);
    margin: 0 auto;
    padding: 0;
  }
}