<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/galery.css">
  <title>Skateboard para todos / Galeria</title>
</head>
<body>
  
  <footer>
    <div class="borda"></div>
    <span class="copyright">
       <span class="copy">&copy;</span>&nbsp;2020&nbsp;
       <a href="https://www.linkedin.com/in/micheljohn/" target="_blank">Michel John.</a>
       Todos os direitos reservados.
    </span>
  </footer>
</body>
</html>